/* USE FONT WEIGHT TO SELECT Light 200, Light 200 Italic, 
Bold 700, Normal 400 or Normal 400 Italic */

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	background-color: grey;
}

#container {
	width: 960px;
	margin: 0 auto;
	background-color: white;
}

header {
	height: 100px;
	width: 100%;
/*	padding: 20px 100px;
*/}

#logo a img {
	height: 60px;
	margin: 20px 0 0 100px ;
	float: left;
}

nav ul {
	width: 400px;
	float: right;
}

nav ul li {
	float:left;
	margin: 10px;
	list-style: none;
}

nav ul li a {
	color: black;
	text-decoration: none;
}

nav ul li a#logIn {
	background-color: black;
	color: white;
	padding:5px 20px;
	border-radius: 30px;
}



/*carousel
set height
width
has buttons so position needs to be relative -in the flow of the document
previous and next button are connected to the carousel
buttons and wrapper position relative - look up
*/



#carouselWrapper {
	background-image: url('../img/bg_b.png'); 
	background-position:center;
	height: 300px;
	width: 100%;

	/*used line-height to vertically align as opposed to relative position. 
	http://phrogz.net/css/vertical-align/index.html*/
	line-height: 6em;
	position: relative;
}

#carouselWrapper #introText{
	/*Vertical and horizontal positioning 
	although not responsive!*/
	top: 60px; 
	width: 835px;
	display: block;
	margin-left: auto;
	margin-right: auto; 

	/*responsive positioning but doesn't quite work
	width: 400px;
	margin: 100px auto;
	text-align: left;
	padding:15px;
	display: block; */

	/*adjust space between the h1 and h2*/
	line-height: .2;

	text-align: center;
	position: relative;
	float: left;
	clear: none;

}

#carouselWrapper #introText h1 {
	color:#FFFFFF;
	font-size: 5em;
/*	margin-top: 0;
	display: block;
	margin-bottom: 0px;
*/}

#carouselWrapper #introText h2 {
	color:#FFFFFF;
	font-size: 1.8em;
	font-weight: 100;
}

#carouselWrapper .prev_arrow {
	/*moved image to the span so we can position relative to div

	/*size the box around the arrow img*/
	height: 50px;
	width: 60px;

	/*vertical-align: relative to carousel container;*/
	top: 125px;

	/* Hide the text, leaving the arrow */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

	/*style the box*/
	background-color: black;
	position: relative;
	float: left;
	clear: none;
	display: block;
}

#carouselWrapper .prev_arrow span {
	background-image: url('../img/arrow_left.png');
	background-repeat: no-repeat;

	/*position relative to div.prev_arrow */
	position: absolute;
	top: 10px;
	left: 10px;

	/*size of the arrow img*/
	height: 30px;
	width: 40px;
}

#carouselWrapper .next_arrow {
	/*moved image to the span so we can position relative to div

	/*size the box around the arrow img*/
	height: 50px;
	width: 60px;

	/*vertical-align: relative to carousel container;*/
	top: 125px;

	/* Hide the text, leaving the arrow */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

	/*style the box*/
	background-color: black;
	position: relative;
	float: right;
	clear: none;
	display: block;
}

#carouselWrapper .next_arrow span {
	background-image: url('../img/arrow_right.png');
	background-repeat: no-repeat;

	/*position relative to div.next_arrow */
	position: absolute;
	top: 10px;
	left: 10px;

	/*size of the arrow img*/
	height: 30px;
	width: 40px;
}

blockquote {
	
}














